<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off"
      internalLogFile="internal-nlog.txt">
	<variable name="DailyDir" value="BehaviorLogs"/>
	<!-- define various log targets -->
	<targets>
		<target name="bufferFile" xsi:type="BufferingWrapper" bufferSize="1000">
			<target
				name="logFile"
				xsi:type="File"
				layout="${longdate}|${level}|${message} ${onexception:${exception:format=message} ${newline} ${stacktrace}"
                concurrentWrites="true"
				encoding="UTF-8"
				fileName="${DailyDir}/${shortdate}.log"
				archiveFileName="${DailyDir}/Archive/LogFile-${shortdate}.txt" 
				maxArchiveDays="1"
				archiveEvery="Day"
				/>
		</target>
		<!--使用可自定义的着色将日志消息写入控制台-->
		<target
			name="colorConsole"
			xsi:type="ColoredConsole"
			layout="[${date:format=HH\:mm\:ss.fff}]|${level}:${message} ${exception:format=message}" />
	</targets>
	<rules>
		<!--<logger name="*" minlevel="Info" writeTo="bufferFile" />-->
		<logger name="*" levels="Trace,Info,Warn,Error,Fatal" writeTo="bufferFile" />
		<logger name="*" maxlevel="Debug" writeTo="colorConsole" />
	</rules>
</nlog>